<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="acjim" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="acjim" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="acjim" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="acjim" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The new ACJIM</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <script src="/public/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/public/lib/sockjs/sockjs.js"></script>
    <script src="/public/lib/stomp-websocket/lib/stomp.min.js"></script>
    <script src="/public/lib/ng-stomp/ng-stomp.js"></script>

    <link rel="stylesheet" href="/public/style.css">
    <script src="/public/app.js"></script>
    <script src="/public/comm.js"></script>
    <script src="/public/map.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The new ACJIM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container">

    <h1>Sample Communication Frontend</h1>

    <div ng-controller="CommCtrl">
        <input ng-model="file" class="form-control input-small" autocomplete="off" placeholder="File to open on backend..." value=""/>
        <button type="button" class="btn btn-default" ng-click="upload()">Upload</button>
    </div>

    <div id="angular-test" style="margin: 10px" ng-app>
        <div ng-controller="MapCtrl">
            <form ng-submit="addData()">
                <input ng-model="x"  size="2" placeholder="X" required type="number" min="0" max="600">
                <input ng-model="y"  size="2" placeholder="Y" required type="number" min="0" max="400">
                <input ng-model="amount"  size="3" placeholder="Amount" required type="number" min="5" max="100">
                <input class="btn-primary" type="submit" value="Add point">
            </form>
            <canvas id="canvas" style="border: 1px gray solid; float: left"></canvas>
            <div id="list" style="margin-left: 620px;">
                Points:
                <ul>
                    <li ng-repeat="point in data">
                        [{{point.x}}, {{point.y}}] <a ng-click="removePoint(point)">[x]</a>
                    </li>
                </ul>
            </div>
            <div style="clear: both"/>
        </div>
    </div>

    <div class="row" ng-controller="CommCtrl">
        <div id="first" class="box">
            <h2>Received</h2>
            <div>{{received}}</div>
        </div>

        <div id="second" class="box">
            <h2>Logs</h2>
            <div><pre>{{log}}</pre></div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->

</body>
</html>