.idea

# Node modules
node_modules/

# Build folders
/build/
/dist/
/cache/

#temporary files
data/tmp/*.json
data/*.json
data/*.acd1
data/tmp/*.json.~01~
data/*.json.~01~
data/*.acd1.~01~


# core bundle
core/AcmacsCore.bundle/