.idea

# Node modules
node_modules
src/bower_components/

# Build folders
/build/
/publish/
/cache/
/tmp/

#temporary files
src/data/tmp/*.json
src/data/*.json
src/data/*.acd1
*.json.~*


# core bundle
core/AcmacsCore.bundle/
