<!DOCTYPE html>
<html lang="en" ng-app="acjim" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acmacs Destktop</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/vis/dist/vis.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body ng-controller="filehandlingCtrl">
    <div class="mainView">
        <div class="sidebar">
            <a class="btn btn-default" ng-click="showTable = !showTable"><span ng-hide="showTable">Show</span><span ng-show="showTable">Hide</span> Table</a>
            <a class="btn btn-default" ng-click="showMap   = !showMap  "><span ng-hide="showMap">Show</span><span ng-show="showMap">Hide</span> Map</a>
        </div>
        <div class="content">

            <div>
                <tabset>
                    <tab select="selectMap()" ng-repeat="map in openMaps" heading="{{map.title}}" active="map.active" disable="map.disabled">

                        <ac-table ng-show="showTable"></ac-table>
                        <ac-map ng-show="showMap"></ac-map>
                        <hr>
                        {{map.content}}
                    </tab>
                </tabset>
            </div>
            <div ng-view></div>

        </div> <!-- /container -->
    </div> <!-- /mainView -->

    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/vis/dist/vis.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="./app/components/filehandling/filehandlingController.js"></script>
    <script src="./app/components/filehandling/fileDialog.js"></script>
    <script src="./app/components/map/mapController.js"></script>
    <script src="./app/components/table/tableController.js"></script>
    <script src="./app/shared/mapService.js"></script>
    <script src="./app/app.js"></script>

</body>
</html>
