<span ng-repeat="item in items | orderBy:'order'">

    <!-- If button group-->
    <div class="btn-group"
         ng-class="{'active': item.active}"
         ng-if="item.isButtonGroup()">

        <label tooltip-placement="bottom" tooltip="{{groupItem.caption}}" class="btn btn-default"
               ng-repeat="groupItem in item.buttons | orderBy:'order'"
               ng-class="{'active': groupItem.active}"
               ng-click="groupItem.click()">
            <span class="{{groupItem.icon}}"></span>
        </label>

    </div>

    <!-- If normal button -->
    <label tooltip-placement="bottom" tooltip="{{item.caption}}" class="btn btn-default"
           ng-class="{'active': item.active}"
           ng-if="!item.isButtonGroup()"
           ng-click="item.click()">
        <span class="{{item.icon}}"></span>
    </label>

</span>