<!DOCTYPE html>
<html ng-app="AcmacsDesktop">
<head>
    <title>Acmacs Desktop</title>

    <!-- Le css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="welcomeScreen/style.css">

</head>
<body ng-controller="appCtrl">

    <h1>Acmacs Desktop</h1>

    <div class="col col-first">
        <ul class="m-new">
            <li><a ng-click="openFile()">Open File</a></li>
            <li>Open a Recent Project
                <ul>
                    <li ng-repeat="project in recentProjects | limitTo:5">
                        <a ng-click="openDocumentWindow(project.file)">{{project.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Le javascript -->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app/components/filehandling/fileDialog.js"></script>

    <script src="welcomeScreen/app.js"></script>

    <script src="welcomeScreen/nwService.js"></script>
    <script src="welcomeScreen/appMenuService.js"></script>
    <script src="welcomeScreen/appController.js"></script>

</body>
</html>